@using Microsoft.AspNetCore.Components

@inherits CustomTriggerComponent<Strem.Twitch.Flows.Triggers.Subs.OnTwitchSubTriggerData>

<div class="field">
    <label class="label">Required Channel</label>
    <div class="control">
        <ProcessedInput @bind-Value="Data.RequiredChannel" Placeholder="i.e A channel name, or leave blank for yours"></ProcessedInput>
    </div>
    <HelperInfo>This is optional and lets you only trigger if it matches a specific channel, leave blank to trigger on your own channel</HelperInfo>
</div>

@code {
    public override string Title => GenerateTitle();
    
    public string GenerateTitle()
    {
        var channelBlurb =  !string.IsNullOrEmpty(Data.RequiredChannel) ? $"For Channel {Data.RequiredChannel}" : "";
        return $"Trigger On Sub <strong>{channelBlurb}</strong>";
    }
}