@inherits CustomTaskComponent<Strem.Flows.Default.Flows.Tasks.Logic.ExecutePythonTaskData>

<div class="field">
    <div class="control" style="min-height: 20em;">
        <MonacoEditor Id="@Data.Id.ToString()" CssClass="block is-info" ConstructionOptions="EditorConstructionOptions" OnDidChangeModelContent="OnContentChanged" @ref="_editor"/>
    </div>
    <HelperInfo>Running custom scripts is a more advanced feature, see the docs for more information on the context object and use cases</HelperInfo>
</div>

@code {
    private MonacoEditor _editor { get; set; }

    public override string Title => GetTitle();

    public string GetTitle()
    {
        return $"Execute Python Code";
    }
    
    private StandaloneEditorConstructionOptions EditorConstructionOptions(MonacoEditor editor)
    {
        return new StandaloneEditorConstructionOptions
        {
            AutomaticLayout = true,
            Language = "python",
            Contextmenu = false,
            Value = Data.PythonCode,
            Minimap = new EditorMinimapOptions { Enabled = false },
            Theme = "vs-dark"
        };
    }

    private async Task OnContentChanged()
    {
        Data.PythonCode = await _editor.GetValue();
    }
}