@using Strem.Flows.Default.Types

@inherits CustomTaskComponent<Strem.Flows.Default.Flows.Tasks.Logic.IfStatementTaskData>

<div class="field">
    <label class="label">Variable A</label>
    <div class="control">
        <ProcessedInput @bind-Value="Data.ValueA" Placeholder="V(some-var)" />
    </div>
</div>

<label class="label">Comparison Type</label>
<div class="field is-grouped">
    <div class="control">
        <EnumSelectInput @bind-Value="Data.ComparisonType"></EnumSelectInput>
    </div>
    @if (Data.ComparisonType == ComparisonType.TextComparison)
    {
        <div class="control">
            <EnumSelectInput @bind-Value="Data.TextOperator"></EnumSelectInput>
        </div>
    }
    else
    {
        <div class="control">
            <EnumSelectInput @bind-Value="Data.NumberOperator"></EnumSelectInput>
        </div>
    }
</div>

<div class="field">
    <label class="label">Variable/Value B</label>
    <div class="control is-expanded">
        <ProcessedInput @bind-Value="Data.ValueB" Placeholder="i.e some value or V(some-var)" />
    </div>
</div>

@code {
    public override string Title => GetTitle();

    public string GetTitle()
    {
        var operatorText = Data.ComparisonType == ComparisonType.TextComparison ? 
            Enum.GetName(Data.TextOperator) : 
            Enum.GetName(Data.NumberOperator);
        
        return $"If A <strong>{operatorText}</strong> B";
    }
}