@inherits CustomTaskComponent<Strem.Flows.Default.Flows.Tasks.Logic.StopFlowTaskData>

<div class="field">
    <div class="control">
        <CheckBox @bind-Value="Data.StopParentFlowsToo" Label="Stop Parent Flows Too?"></CheckBox>
    </div>
    <HelperInfo>If this is being run within a sub task you can bubble up the failure to stop the entire flow too</HelperInfo>
</div>

@code {
    public override string Title => GetTitle();

    public string GetTitle()
    {
        var action = Data.StopParentFlowsToo ? "Current And Parent" : "Current";
        return $"Stop <strong>{action}</strong> Flow";
    }
}