@page "/"

@using Strem.Core.Flows
@using Strem.Core.Flows.Registries

@inject ITaskRegistry TaskRegistry;
@inject ITriggerRegistry TriggerRegistry;

<div class="container is-fluid">
  <div class="columns">
    <div class="column is-one-quarter">
      <FlowStoreMenu OnFlowSelected="x => CurrentFlow = x"></FlowStoreMenu>
    </div>
    <div class="column">
    @if (CurrentFlow == null)
    {
      <p class="title">Select a flow to edit</p>
    }
    else
    {
      <FlowEditor Flow="CurrentFlow"></FlowEditor>
    }
    </div>
    <div class="column is-one-quarter">
    @if (CurrentFlow != null)
    {
      <FlowElementsMenu OnTaskSelected="AddTask" OnTriggerSelected="AddTrigger"></FlowElementsMenu>
    }
    </div>
  </div>
</div>

@code {
  public Flow CurrentFlow { get; set; }
  
  public void AddTask(TaskDescriptor descriptor)
  {
    var data = descriptor.Data();
    CurrentFlow.TaskData.Add(data);
  }

  public void AddTrigger(TriggerDescriptor descriptor)
  {
    var data = descriptor.Data();
    CurrentFlow.TriggerData.Add(data);
  }

}