@page "/settings"

@using Strem.Core.State
@using Microsoft.AspNetCore.Components
@using Strem.Core.Extensions
@using Strem.Core.Variables

@inject IAppState AppState;

<div class="container is-fluid">
  <h3 class="title is-3">Settings</h3>
  <div class="box">
    <label class="label is-size-4">UI Settings</label>
    <div class="field">
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" @bind="ShowHelpers">
                Show Helper Text On UI?
            </label>
        </div>
        <HelperInfo>This is an example of a helper, if you turn this off you wont see them throughout the system</HelperInfo>
    </div>
  </div>
</div>

@code {

    public bool ShowHelpers
    {
        get => AppState.AppVariables.Get<bool>(UIVariables.ShowHelpersVariable);
        set =>  AppState.AppVariables.Set(UIVariables.ShowHelpersVariable, value);
    }


}