@using Strem.Portals.Types

<a class="button portal-button placeholder m-3 is-flex is-flex-direction-column" @onclick="() => ButtonPressed.InvokeAsync(GridIndex)">
    <span class="icon fa-3x m-auto">
        <i class="fas"></i>
    </span>
</a>

@code {
    [Parameter]
    public ButtonSize ButtonSize { get; set; }
    
    [Parameter]
    public int GridIndex {get;set;}
    
    [Parameter]
    public EventCallback<int> ButtonPressed { get; set; }
}