@using Microsoft.AspNetCore.Components
@using Strem.Portals.Types

@inherits ValidatedComponent<Strem.Portals.Data.PortalData>

<EditForm EditContext="EditContext" class="block">
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <TextInput Placeholder="i.e Play A Meme" @bind-Value="Data.Name"/>
                </div>
            </div>
            <div class="field">
                <label class="label">Button Size</label>
                <div class="control">
                    <EnumSelectInput @bind-Value="Data.ButtonSize"></EnumSelectInput>
                </div>
            </div>
            <div class="field">
                <label class="label">Grid Size</label>
                <div class="control">
                    <IntInput Placeholder="i.e 25" @bind-Value="Data.ButtonGridSize"/>
                </div>
                <HelperInfo>The grid size is how many buttons you want to be available for the user</HelperInfo>
            </div>
        </div>
        
        <div class="column">
            <div class="field">
                <div class="control">
                    <label class="label">Portal Todos</label>
                    <div class="control">
                        <CheckBox @bind-Value="Data.ShowTodos" Label="Show Todos On Portal?"></CheckBox>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control is-expanded">
                    <TagEditor Tags="Data.TodoTags" OnTagsChanged="StateHasChanged" TagsExpression="() => Data.TodoTags"></TagEditor>
                </div>
                <HelperInfo>This allow you to filter only specific todos based on their tags</HelperInfo>
            </div>
        </div>
    </div>

    @if (!IsValid)
    {
        <ValidaitonMessageContainer Messages="EditContext.GetValidationMessages()"/>
    }
</EditForm>