@using Strem.Portals.Data
@using Microsoft.AspNetCore.Components

<h3 class="title is-3 has-text-black">Edit Button</h3>
<div class="field">
    <label class="label">Button Name</label>
    <div class="control">
        <input class="input" type="text" placeholder="i.e PlaysAMeme" @bind-value="ButtonData.Name"/>
    </div>
</div>
<div class="field">
    <label class="label">Button Text</label>
    <div class="control">
        <input class="input" type="text" placeholder="i.e Play A Meme" @bind-value="ButtonData.Text"/>
    </div>
</div>
<div class="field">
    <label class="label">Button Color</label>
    <div class="control">
        <input class="input" type="color" @bind-value="ButtonData.BackgroundColor" />
    </div>
</div>
<div class="field">
    <label class="label">Text Color</label>
    <div class="control">
        <input class="input" type="color" @bind-value="ButtonData.TextColor" />
    </div>
</div>
<label class="label">Icon Style</label>
<div class="field">
    <div class="control">
        <IconPicker @bind-Icon="ButtonData.IconClass"></IconPicker>
    </div>
</div>
<div class="field is-grouped">
  <div class="control">
    <button class="button is-primary" @onclick="() => OnClosed.InvokeAsync()">Close</button>
  </div>
</div>

@code {
    [Parameter] 
    public ButtonData ButtonData { get; set; }

    [Parameter] 
    public EventCallback OnClosed { get; set; }
}