
<div class="modal box @(IsVisible ? "is-active":"")">
  <div class="modal-background"></div>
  <div class="modal-content box">
    @ChildContent
  </div>
  <button class="modal-close is-large" aria-label="close" @onclick="() => IsVisible = false"></button>
</div>

@code {
  [Parameter]
  public bool IsVisible { get; set; }
    
  [Parameter] 
  public RenderFragment ChildContent  { get; set; }
}