<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="~/" />
        <title>@ViewData["Title"]</title>
        <link href="/css/bulma.css" rel="stylesheet" />
        <link href="/css/all.css" rel="stylesheet" />
        <link href="/css/app-styles.less" rel="stylesheet/less" />
    </head>
    <body>
        @RenderBody()
        <script src="/js/less.min.js" type="text/javascript"></script>
        <script src="_framework/blazor.server.js" type="text/javascript"></script>
    </body>
</html>