<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="/" />
        <title>@ViewData["Title"]</title>
        <link rel="icon" type="image/x-icon" href="_content/Strem/favicon.ico" />
        <link href="_content/Strem/css/bulma.css" rel="stylesheet" />
        <link href="_content/Strem/css/all.css" rel="stylesheet" />
        <link href="_content/Strem/css/animate.css" rel="stylesheet" />
        <link href="_content/Strem/css/bulma-slider.css" rel="stylesheet" />
        <link href="_content/Strem/css/bulma-divider.css" rel="stylesheet" />
        <link href="_content/Strem/css/app-styles.less" rel="stylesheet/less" />
    </head>
    <body>
        @RenderBody()
        <script src="_content/Strem/js/less.min.js" type="text/javascript"></script>
        <script src="_content/Strem/js/bulma-toast.min.js" type="text/javascript"></script>
        <script src="_content/Strem/js/bulma-slider.js" ></script>
        <script src="_content/Strem/js/no-sleep.min.js" type="text/javascript"></script>
        <script src="_content/Strem/js/interop-methods.js" type="text/javascript"></script>
        <script src="_framework/blazor.server.js" type="text/javascript"></script>
    </body>
</html>