@inherits LayoutComponentBase

<div class="tabs is-centered is-toggle">
  <ul>
    <li class="is-active">
      <a>
        <span class="icon is-small"><i class="fas fa-microchip" aria-hidden="true"></i></span>
        <span>Actions</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fas fa-tower-broadcast" aria-hidden="true"></i></span>
        <span>Events</span>
      </a>
    </li>
    <li>
      <NavLink href="integrations">
        <span class="icon is-small"><i class="fas fa-cubes" aria-hidden="true"></i></span>
        <span>Integrations</span>
      </NavLink>
    </li>
    <li>
      <NavLink href="settings">
        <span class="icon is-small"><i class="fas fa-gears" aria-hidden="true"></i></span>
        <span>Settings</span>
      </NavLink>
    </li>
  </ul>
</div>