@using Strem.Core.Flows

@inherits CustomTaskComponent<Strem.Flows.Default.Flows.Tasks.Utility.ExecuteFlowTaskData>

@inject IFlowStore FlowStore;

<div class="field">
    <label class="label">Flow</label>
    <div class="control">
        <DataSelectInput @bind-Value="Data.FlowId" Data="FlowStore.Flows" GetName="x => x.Name" GetValue="x => x.Id"></DataSelectInput>
    </div>
</div>
<div class="field">
    <div class="control">
        <CheckBox @bind-Value="Data.WaitForCompletion" Label="Wait For Flow To Finish?"></CheckBox>
    </div>
</div>

@code {
    public override string Title => GetTitle();

    public string GetTitle()
    {
        var targettedFlow = FlowStore.Flows.SingleOrDefault(x => x.Id == Data.FlowId);
        if(targettedFlow == null) { return "Execute Flow"; }
        return $"Execute <strong>{targettedFlow.Name}</strong> Flow";
    }
}