@inherits CustomTaskComponent<Strem.Flows.Default.Flows.Tasks.Utility.RaiseEventTaskData>

<div class="field">
    <label class="label">Event Name</label>
    <div class="control">
        <input class="input" type="text" placeholder="i.e user-redeemed-points" @bind="Data.EventName">
    </div>
</div>
<div class="field">
    <label class="label">Optional Data</label>
    <div class="control">
        <input class="input" type="text" placeholder="i.e V(chat-user, twitch) or any text" @bind="Data.Data">
    </div>
    <HelperInfo>You can provide any textual data, and use dynamic variables using the V(var-name) mechanism</HelperInfo>
</div>

@code {
    public override string Title => GenerateTitle();

    public string GenerateTitle()
    {
        var dataSection = string.IsNullOrEmpty(Data.Data) ? "" : " With Data";
        return $"Raise Event <strong>{Data.EventName}{dataSection}</strong>";
    }
}