@using Strem.Core.Types

@inherits CustomTaskComponent<Strem.Flows.Default.Flows.Tasks.Utility.WaitForPeriodTaskData>

<div class="field">
    <label class="label">Period Type</label>
    <div class="control">
        <div class="select">
            <select @bind="Data.WaitUnitsType">
                <EnumSelectOptions EnumType="typeof(TimeUnitType)"></EnumSelectOptions>
            </select>
        </div>
    </div>
</div>
<div class="field">
    <label class="label">Interval Value</label>
    <div class="control">
        <ProcessedInput @bind-Value="Data.WaitAmount" Placeholder="i.e 5 or dynamic vars"></ProcessedInput>
    </div>
</div>

@code {
    public override string Title => $"Wait For <strong>{Data.WaitAmount} {Data.WaitUnitsType}</strong>";
}