@using Strem.Core.Types

@inherits CustomTaskComponent<Strem.Flows.Default.Flows.Tasks.Utility.WaitForPeriodTaskData>

<div class="field">
    <label class="label">Period</label>
    <div class="control">
        <EnumWithValueInput @bind-Value="Data.WaitAmount" @bind-EnumValue="Data.WaitUnitsType" placeholder="i.e 5 or dynamic vars"></EnumWithValueInput>
    </div>
</div>

@code {
    public override string Title => $"Wait For <strong>{Data.WaitAmount} {Data.WaitUnitsType}</strong>";
}