@inherits CustomTaskComponent<Strem.Flows.Default.Flows.Tasks.Utility.WriteToFileTaskData>

<label class="label">File Path</label>
<div class="field">
    <div class="control is-expanded">
        <FileInputBrowser @bind-Value="Data.FilePath" Placeholder="i.e c:/some-file.txt"></FileInputBrowser>
    </div>
</div>

<div class="field">
    <label class="label">Interaction Type</label>
    <div class="control">
        <EnumWithValueInput @bind-Value="Data.Text" @bind-EnumValue="Data.InteractionType" Placeholder="i.e Clip created at V(clip.editUrl)"></EnumWithValueInput>
    </div>
</div>

@code {
    public override string Title => $"Write Text To {Data.FilePath}";
}