@inherits CustomTaskComponent<Strem.Flows.Default.Flows.Tasks.Utility.WriteToLogTaskData>

<div class="field">
  <label class="label">Text To Log</label>
    <div class="control">
        <ProcessedInput @bind-Value="Data.Text" Placeholder="i.e Something Happened With Value V(someVar)"></ProcessedInput>
    </div>
</div>

@code {
    public override string Title => "Write Text To Logs";
}