@inherits CustomTaskComponent<Strem.Flows.Default.Flows.Tasks.Utility.WriteToFileTaskData>

<div class="field has-addons">
  <label class="label">File Path</label>
  <div class="control">
    <input class="input" type="text" placeholder="i.e Something Happened With Value V(someVar)" @bind="Data.Text">
  </div>
  <div class="control">
    <button class="button is-primary" @onclick="BrowseForFile">Browse</button>
  </div>
</div>
<div class="field">
  <label class="label">Text To File</label>
  <div class="control">
    <input class="input" type="text" placeholder="i.e Something Happened With Value V(someVar)" @bind="Data.Text">
  </div>
</div>

@code {
    public override string Title => $"Write Text To {Data.FilePath}";

    public void BrowseForFile()
    {
    }
}