@inherits LayoutComponentBase

<section class="hero is-dark is-fullheight">
  <div class="hero-head has-background-grey-dark">
    <span class="tag is-dark strem-logo">Strem - v@(GetType().Assembly.GetName().Version) (Alpha)</span>
    <div class="container">
      <TopMenu/>
    </div>
  </div>
  <div class="hero-body is-align-items-stretch">
    @Body
  </div>
  <div class="hero-foot"></div>
</section>