<div class="tabs is-centered is-boxed">
  <ul class="pt-4">
    <li>
      <NavLink href="flows" ActiveClass="has-background-info-light has-text-black-bis" Match="NavLinkMatch.All">
        <span class="icon is-small"><i class="fas fa-code-commit" aria-hidden="true"></i></span>
        <span>Flows</span>
      </NavLink>
    </li>
        <li>
          <NavLink href="todos" ActiveClass="has-background-info-light has-text-black-bis" Match="NavLinkMatch.All">
            <span class="icon is-small"><i class="fas fa-clipboard-list" aria-hidden="true"></i></span>
            <span>Todos</span>
          </NavLink>
        </li>
    <li>
      <NavLink href="integrations" ActiveClass="has-background-info-light has-text-black-bis" Match="NavLinkMatch.All">
        <span class="icon is-small"><i class="fas fa-cubes" aria-hidden="true"></i></span>
        <span>Integrations</span>
      </NavLink>
    </li>
    <li>
      <NavLink href="logs" ActiveClass="has-background-info-light has-text-black-bis" Match="NavLinkMatch.All">
        <span class="icon is-small"><i class="fas fa-file-lines" aria-hidden="true"></i></span>
        <span>Logs</span>
      </NavLink>
    </li>
    <li>
      <NavLink href="settings" ActiveClass="has-background-info-light has-text-black-bis" Match="NavLinkMatch.All">
        <span class="icon is-small"><i class="fas fa-gears" aria-hidden="true"></i></span>
        <span>Settings</span>
      </NavLink>
    </li>
  @*
    <li>
      <NavLink href="test" ActiveClass="has-background-info-light has-text-black-bis" Match="NavLinkMatch.All">
        <span class="icon is-small"><i class="fas fa-gears" aria-hidden="true"></i></span>
        <span>TEST AREA</span>
      </NavLink>
    </li>
*@
  </ul>
</div>