@inherits LayoutComponentBase

<section class="hero is-dark is-fullheight">
  <div class="hero-head">
    <div class="container">
        <TopMenu/>
    </div>
  </div>
  <div class="hero-body is-align-items-stretch">
    @Body
  </div>
  <div class="hero-foot"></div>
</section>