<div class="tabs is-centered is-boxed">
  <ul class="p-2">
    <li class="is-active">
      <NavLink href="">
        <span class="icon is-small"><i class="fas fa-microchip" aria-hidden="true"></i></span>
        <span>Flows</span>
      </NavLink>
    </li>
    <li>
      <NavLink href="integrations">
        <span class="icon is-small"><i class="fas fa-cubes" aria-hidden="true"></i></span>
        <span>Integrations</span>
      </NavLink>
    </li>
    <li>
      <NavLink href="settings">
        <span class="icon is-small"><i class="fas fa-gears" aria-hidden="true"></i></span>
        <span>Settings</span>
      </NavLink>
    </li>
  </ul>
</div>