<div class="tabs is-centered is-boxed">
  <ul class="p-2">
    <li>
      <NavLink href="/" ActiveClass="has-background-info-light has-text-black-bis" Match="NavLinkMatch.All">
        <span class="icon is-small"><i class="fas fa-microchip" aria-hidden="true"></i></span>
        <span>Flows</span>
      </NavLink>
    </li>
    <li>
      <NavLink href="integrations" ActiveClass="has-background-info-light has-text-black-bis" Match="NavLinkMatch.All">
        <span class="icon is-small"><i class="fas fa-cubes" aria-hidden="true"></i></span>
        <span>Integrations</span>
      </NavLink>
    </li>
    <li>
      <NavLink href="settings" ActiveClass="has-background-info-light has-text-black-bis" Match="NavLinkMatch.All">
        <span class="icon is-small"><i class="fas fa-gears" aria-hidden="true"></i></span>
        <span>Settings</span>
      </NavLink>
    </li>
  </ul>
</div>