@page "/portals"

@using Strem.Portals.Data

@inject IPortalStore PortalStore

<div class="container is-fluid">
    <div class="columns is-variable is-6">
        <div class="column is-one-quarter">
            <UserPortals OnPortalSelected="SelectPortal"></UserPortals>
        </div>
        <div class="column">
            @if (CurrentPortal != null)
            {
                <PortalEditor Portal="CurrentPortal"></PortalEditor>
            }
        </div>
    </div>
</div>


@code {
    public PortalData CurrentPortal { get; set; }
    
    private void SelectPortal(PortalData newPortal)
    {
        CurrentPortal = newPortal;
        InvokeAsync(StateHasChanged);
    }
}