@page "/portals"

@using Strem.Portals.Data

<div class="container is-fluid">
    <ErrorBoundary>
        <ChildContent>
            <div class="columns is-variable is-6">
                <div class="column is-one-quarter">
                    <UserPortals OnPortalSelected="SelectPortal"></UserPortals>
                </div>
                <div class="column">
                    @if (CurrentPortal != null)
                    {
                        <PortalEditor Portal="CurrentPortal"></PortalEditor>
                    }
                </div>
            </div>
        </ChildContent>
        <ErrorContent>
            <TheSkyIsFalling/>
        </ErrorContent>
    </ErrorBoundary>
</div>


@code {
    public PortalData CurrentPortal { get; set; } = null;

    private void SelectPortal(PortalData newPortal)
    {
        CurrentPortal = newPortal;
        InvokeAsync(StateHasChanged);
    }

}