<div class="block accordion @(IsExpanded ? "is-expanded": "is-collapsed")">
    <a class="button is-flex @(StyleType) has-text-left" @onclick="() => IsExpanded = !IsExpanded">
        <span class="has-text-weight-semibold is-leveled">@((MarkupString)Title)</span>
        <span class="icon is-small is-pulled-right">
          <i class="fa @(IsExpanded ? "fa-circle-chevron-up" : "fa-circle-chevron-down")"></i>
        </span>
    </a>
    <div class="box" draggable="true" ondragstart="event.preventDefault(); event.stopPropagation();">
        @ChildContent 
    </div>
</div>

@code {

    [Parameter]
    public bool IsExpanded { get; set; } = false;
    
    [Parameter]
    public string StyleType { get; set; } = "is-success";
    
    [Parameter] 
    public RenderFragment ChildContent  { get; set; }
    
    [Parameter]
    public string Title { get; set; }
}