@typeparam TEnum

@inherits ValidatedInputBase<string>

<div class="field has-addons enum-with-value">
    <div class="control">
        <div class="select">
            <select value="@EnumValue" @onchange="args => EnumValueChanged.InvokeAsync((TEnum)Enum.Parse(typeof(TEnum), args.Value.ToString()))">
                <EnumSelectOptions EnumType="typeof(TEnum)"></EnumSelectOptions>
            </select>
        </div>
    </div>
    <div class="control is-expanded">
        <ProcessedInput @bind-Value="ProxyValue" Placeholder="@Placeholder"></ProcessedInput>
    </div>
</div>

@code {
    [Parameter]
    public TEnum EnumValue { get; set; }
    
    [Parameter]
    public EventCallback<TEnum> EnumValueChanged { get; set; }
    
    public string ProxyValue
    {
        get => Value;
        set => OnValueChanged(value);
    }
    
    [Parameter]
    public string Placeholder { get; set; }
    
    protected override bool TryParseValueFromString(string? value, out string result, out string? validationErrorMessage)
    {
        result = value;
        validationErrorMessage = null;
        return true;
    }
}