@typeparam TEnum

@inherits ValidatedInputBase<TEnum>

<div class="field has-addons">
    <div class="control">
        <button class="button @(Enabled ? "is-success" : "is-danger")" @onclick="() => EnabledChanged.InvokeAsync(!Enabled)">
            <span class="icon is-small">
                <i class="fas @(Enabled ? "fa-check" : "fa-xmark")"></i>
            </span>
        </button>
    </div>
    <div class="control is-expanded">
        <div class="select">
            <select value="@Value" disabled="@(!Enabled)" @onchange="args => OnValueChanged((TEnum)Enum.Parse(typeof(TEnum), args.Value.ToString()))">
                <EnumSelectOptions EnumType="typeof(TEnum)"></EnumSelectOptions>
            </select>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool Enabled { get; set; }
    
    [Parameter]
    public EventCallback<bool> EnabledChanged { get; set; } 
    
    [Parameter]
    public string Placeholder { get; set; }

    [Parameter]
    public string Type { get; set; } = "text";
    
    protected override bool TryParseValueFromString(string? value, out TEnum result, out string? validationErrorMessage)
    {
        var success = Enum.TryParse(typeof(TEnum), value, out var enumValue);
        validationErrorMessage = !success ? "Could not parse enum value" : null;
        result = success ? (TEnum)enumValue : default;
        return success;
    }
}