@using Strem.Core.State
@using Strem.Core.Extensions
@using Strem.Core.Variables

@inject IAppState AppState

@if (ShowHelper)
{
    <p class="help">
        <span class="icon @(StyleType)">
            <i class="fas @(IconType)"></i>
        </span>
        <span class="@(StyleType)">
            @ChildContent
        </span>
    </p>
}

@code {

    [Parameter]
    public bool ForceShow { get; set; } = false;
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string StyleType { get; set; } = "has-text-info";

    [Parameter]
    public string IconType { get; set; } = "fa-info-circle";
    
    public bool ShowHelper { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (ForceShow)
        {
            ShowHelper = true;
            return;
        }

        ShowHelper = AppState.AppVariables.Get<bool>(UIVariables.ShowHelpersVariable);
    }

}