
<h3 class="title is-3 has-text-black">Portal Requires Login</h3>
<div class="field">
    <label class="label">Enter Password</label>
    <div class="control">
        <input class="input" type="password" @bind="Password"/>
    </div>
</div>
<div class="field">
    <div class="control">
        <button class="button is-primary is-expanded" @onclick="OnRequestAccess">Login</button>
    </div>
</div>

@code {
    
    [Parameter] 
    public EventCallback<string> RequestAccess { get; set; }
    
    public string Password { get; set; }
    
    private void OnRequestAccess()
    {
        RequestAccess.InvokeAsync(Password);
    }
}