<!DOCTYPE html>

<html>
    <head>
      <title>Youtube Said NO</title>
      <link href="/css/bulma.css" rel="stylesheet" />
      <link href="/css/all.css" rel="stylesheet" />
    </head>
    <body>
      <section class="hero is-dark is-fullheight">
        <div class="hero-body">
          <div class="container has-text-centered">
            <section class="block">
              <p class="title has-text-danger">
                <span class="icon-text">
                  <span class="icon is-large">
                    <i class="fab fa-youtube"></i>
                  </span>
                </span>
                Youtube Error Authorizing
              </p>
              <p class="subtitle has-text-danger">
                @Model
              </p>
              <p class="has-text-danger">
                  Please close window and try in app again
              </p>
            </section>
          </div>
        </div>
      </section>
    </body>
</html>