@using Microsoft.AspNetCore.Components

@inherits CustomTaskComponent<Strem.Twitch.Flows.Tasks.Clips.CreateTwitchClipTaskData>

<div class="field">
    <label class="label">Channel To Clip From</label>
    <div class="control">
        <ProcessedInput @bind-Value="Data.Channel" Placeholder="i.e optional channel name"></ProcessedInput>
    </div>
    <HelperInfo>You can leave it blank for your own stream, or put another channel name in for another channel</HelperInfo>
</div>

<div class="field">
    <div class="control">
        <CheckBox @bind-Value="Data.CreateTodo" Label="Raise A Todo For Clip?"></CheckBox>
    </div>
    <HelperInfo>This will add a todo entry to your todo list with the clip edit url for you to action later</HelperInfo>
</div>

@if (Data.CreateTodo)
{
    <div class="field">
        <label class="label">Tags</label>
        <div class="control">
            <TagEditor Tags="Data.Tags" TagsExpression="() => Data.Tags"/>
        </div>
        <HelperInfo>Add any custom tags you want to this auto created todo element</HelperInfo>
    </div>
}

@code {
    public override string Title => GetTitle();

    public string GetTitle()
    {
        var channel = string.IsNullOrEmpty(Data.Channel) ? "" : $"On {Data.Channel}";
        return $"Create A Twitch Clip {channel} {(Data.CreateTodo ? "With Todo" : "")}";
    }
}