@inherits CustomTaskComponent<Strem.Flows.Default.Flows.Tasks.Utility.WriteToLogTaskData>

<div class="field">
  <label class="label">Text To Log</label>
  <div class="control">
    <input class="input" type="text" placeholder="i.e Something Happened With Value V(someVar)" @bind="Data.Text">
  </div>
</div>

@code {
    public override string Title => "Write Text To File";
}