@is-info: #3e8ed0;
@is-success: #48c78e;
@is-warning: #ffe08a;
@is-danger: #f14668;
@is-primary: #00d1b2;
@is-dark-grey: #4a4a4a;
@is-light-grey: #dbdbdb;

@s-1: 0.25rem;
@s-2: 0.5rem;
@s-3: 0.75rem;
@s-4: 1rem;

@font-face {
    font-family: "Quicksand";
    src: url("/webfonts/quicksand/Quicksand-Light.ttf") format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Quicksand";
    src: url("/webfonts/quicksand/Quicksand-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Quicksand";
    src: url("/webfonts/quicksand/Quicksand-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Quicksand";
    src: url("/webfonts/quicksand/Quicksand-Bold.ttf") format('truetype');
    font-weight: 800;
    font-style: normal;
}

each(range(5, 100, 5), {
    .w-@{value} { width: ~"@{value}%"; }
});

each(range(5, 100, 5), {
    .h-@{value} { height: ~"@{value}%"; }
});

each(range(5, 100, 5), {
    .opacity-@{value} { opacity: ~"@{value}%"; }
});


body
{
    font-family: "Quicksand";
    font-weight: 400;
    font-style: normal;
}

.accordion
{
    &.is-collapsed > div
    {
        display: none;
    }

    &.is-expanded {
        & > a
        {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        & > div
        {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    } 
    
    & > a > span.tag
    {
        background-color: rgba(255,255,255,0.5);
    }
}

.accordion
{
    &>a.twitch-integration {
        background-color: #6441a5;
        color: #fff;
        border-color: transparent;
    }

    &>a.obs-integration {
        background-color: @is-dark-grey;
        color: #fff;
        border-color: transparent;
    }
}

.has-success-pulse {
    box-shadow: 0 0 0 0 @is-success;
    animation: pulse-success 1s infinite;
}

.has-danger-pulse {
    box-shadow: 0 0 0 0 @is-danger;
    animation: pulse-danger 1s infinite;
}


.pulse-effect(@color)
{
    0% { box-shadow: 0 0 0 0 fade(@color, 70%); }
    70% { box-shadow: 0 0 0 10px fade(@color, 0%); }
    100% { box-shadow: 0 0 0 0 fade(@color, 0%); }
}

@keyframes pulse-success { .pulse-effect(@is-success) }
@keyframes pulse-primary { .pulse-effect(@is-primary) }
@keyframes pulse-warning { .pulse-effect(@is-warning) }
@keyframes pulse-danger { .pulse-effect(@is-danger) }
@keyframes pulse-info { .pulse-effect(@is-info) }
@keyframes pulse-dark { .pulse-effect(@is-dark-grey) }

.is-leveled
{
    width: 100%;
}

.menu
{
    li { margin: @s-2; }
    
    a
    {
        color: #fff !important;
        
        &.dropdown-item {
            color: #000 !important;
        }

        &.disabled {
            border-left: @s-2 solid;
            border-color: @is-danger;
        }

        &.is-active
        {
            background-color: @is-primary !important;
        }

        &.is-flow
        {
            background-color: @is-info;
        }

        &.is-portal
        {
            background-color: @is-info;
        }

        &.is-trigger
        {
            background-color: @is-success;
        }

        &.is-task
        {
            background-color: @is-info;
        }
        
        &.is-trigger.disabled, &.is-task.disabled
        {
            pointer-events: none;
            opacity: .65;
        }
    }
}

.strem-logo
{
    float: left;
    position: relative;
    left: 5em;
    top: 1.5em;
}

.tasks .drag-enter-target,
.triggers .drag-enter-target
{
    box-shadow: 0 0 0 0 @is-dark-grey;
    animation: pulse-dark 1s infinite;
}

.processed-input
{
    &.invalid {
        input, .processed-output { border: 1px solid @is-danger; }
    }
    
    .processed-output .tags
    {
        margin-bottom: -0.5em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}



.is-placeholder
{
    color: @is-light-grey !important;
}

.accordion .paged-content-header .title
{ color: #000; }

.level-item {
    &.has-text-left { flex-grow: 0 !important; }
    &.has-text-right { flex-grow: 0 !important; }
}

.portal-page
{
    &.small .portal-button { 
        width: 8rem;
        height: 8rem;
    }
    
    &.medium .portal-button { 
        width: 10rem; 
        height: 10rem; 
    }
    
    &.large .portal-button { 
        width: 12rem; 
        height: 12rem; 
    }
}

.portal-button {
    width: 100%;
    height: 100%;
}

.is-160x160
{
    width: 160px;
    height: 160px;
}

img.is-full
{
    width: 100%;
    height: 100%;
}

ul.sub-tasks
{
    margin-left: 0.5em;
    border-left: 0.25em solid rgba(0,0,0,0.1);
    padding-left: 0.5em;
    
    &.true { border-left-color: fade(@is-success, 20%); }
    &.false { border-left-color: fade(@is-danger, 20%); }
}

li.drag-source
{
    .accordion
    {
        opacity: 20%;
    }
}

.column.paged-element
{
    padding: 0;
    
    &.split-size-2, &.split-size-3, &.split-size-4
    { padding-right: 0.5rem; }
}

.todo-section .page-summary
{
    color: #000 !important;
}

.validation-message
{
    font-weight: 600;
}