@using Microsoft.AspNetCore.Components

@inherits Strem.Flows.Components.Triggers.CustomTriggerComponent<Strem.OBS.Flows.Triggers.OnMuteStateChangedTriggerData>

<div class="field">
    <label class="label">Source Name</label>
    <div class="control">
        <ObsInputSelector @bind-Value="@Data.SourceName" />
    </div>
</div>
<div class="field">
    <div class="control">
        <CheckBox @bind-Value="Data.TriggerOnMuted" Label="Trigger When Muted?"></CheckBox>
    </div>
</div>
<div class="field">
    <div class="control">
        <CheckBox @bind-Value="Data.TriggerOnUnmuted" Label="Trigger When Unmuted?"></CheckBox>
    </div>
</div>

<div class="field">
    <div class="control">
        <CheckBox @bind-Value="Data.TriggerOnStart" Label="Trigger On Start?"></CheckBox>
    </div>
    <HelperInfo>By default these triggers wait to be told when mute state changes, but with this you can trigger it with the current state when it starts</HelperInfo>
</div>

@code {
    public override string Title => $"On {Data.SourceName} Mute State Changed";
}