@using Microsoft.AspNetCore.Components
@using Strem.Core.State
@using Strem.OBS.Extensions
@using Strem.OBS.Services.Client

@inherits Strem.Core.Components.Triggers.CustomTriggerComponent<Strem.OBS.Flows.Triggers.OnMuteStateChangedTriggerData>

@inject IAppState AppState;
@inject IObservableOBSClient ObsClient;

<div class="field">
    <label class="label">Source Name</label>
    <div class="control">
        <AutoComplete @bind-Value="@Data.SourceName" Data="CurrentSceneItems"></AutoComplete>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="checkbox">
            <input type="checkbox" @bind="Data.TriggerOnMuted">
            Trigger When Muted?
        </label>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="checkbox">
            <input type="checkbox" @bind="Data.TriggerOnUnmuted">
            Trigger When Unmuted?
        </label>
    </div>
</div>

<div class="field">
    <div class="control">
        <label class="checkbox">
            <input type="checkbox" @bind="Data.TriggerOnStart">
            Trigger On Start?
        </label>
    </div>
    <HelperInfo>By default these triggers wait to be told when mute state changes, but with this you can trigger it with the current state when it starts</HelperInfo>
</div>

@code {
    public override string Title => $"On {Data.SourceName} Mute State Changed";

    public string[] CurrentSceneItems { get; set; } = Array.Empty<string>();
    
    protected override async Task OnInitializedAsync()
    {
        if (AppState.HasOBSHost() && ObsClient.IsConnected)
        {
            if (!AppState.HasCurrentSceneItems())
            { await ObsClient.PopulateActiveSceneTransientData(AppState); }
            CurrentSceneItems = AppState.GetCurrentSceneItems();
        }
        else
        { CurrentSceneItems = Array.Empty<string>(); }
    }
}