@using Microsoft.AspNetCore.Components
@inherits Strem.Flows.Components.Triggers.CustomTriggerComponent<Strem.OBS.Flows.Triggers.OnRecordingStateChangedTriggerData>

<div class="field">
    <div class="control">
        <CheckBox @bind-Value="Data.TriggerOnStarted" Label="Trigger When Recording?"></CheckBox>
    </div>
</div>
<div class="field">
    <div class="control">
        <CheckBox @bind-Value="Data.TriggerOnStopped" Label="Trigger When Stopped Recording?"></CheckBox>
    </div>
</div>
<div class="field">
    <div class="control">
        <CheckBox @bind-Value="Data.TriggerOnStart" Label="Trigger On Startup?"></CheckBox>
    </div>
    <HelperInfo>By default these triggers wait to be told when recording state changes, but with this you can trigger it with the current state when it starts</HelperInfo>
</div>

@code {
    public override string Title => $"On Recording State Changed";
}