@using System.Reactive.Disposables
@using OBSWebsocketDotNet
@using Persistity.Encryption
@using Persistity.Extensions
@using Strem.Core.Events.Bus
@using Strem.Core.Extensions
@using Strem.Core.State
@using Strem.Infrastructure.Extensions
@using Strem.OBS.Extensions
@using Strem.OBS.Services.Client
@using Strem.OBS.Variables

@inject IObservableOBSClient ObsClient
@inject IAppState AppState
@inject IEventBus EventBus
@inject IEncryptor Encryptor

@implements IDisposable

<article class="message is-info">
    <p class="message-header">
        OBS
        <a>
            <span class="icon is-small">
                <i class="fab fa-clapperboard"></i>
            </span>
        </a>
    </p>
    <div class="message-body">
        <label class="label">OBS Host/IP & Port</label>
        <div class="field has-addons">
            <div class="control">
                <input class="input" type="text" placeholder="i.e localhost or 127.0.0.1" @bind="Host"/>
            </div>
            <div class="control">
                <label class="label m-2">:</label>
            </div>
            <div class="control">
                <input class="input" type="text" placeholder="i.e 4444" @bind="Port"/>
            </div>
        </div>
        <div class="field">
            <label class="label">OBS Server Password</label>
            <div class="control">
                <input class="input" type="password" @bind="Password"/>
            </div>
            <HelperInfo>You can leave the password empty if there is no password set on the server</HelperInfo>
        </div>
        <div class="field">
            <div class="control">
                @if (IsConnected)
                {
                    <button class="button is-danger" @onclick="DisconnectFromOBS" disabled="@IsConnecting">Disconnect From OBS</button>
                }
                else
                {
                    <button class="button is-success" @onclick="ConnectToOBS" disabled="@IsConnecting">Connect To OBS</button>
                }
            </div>
            @if (!string.IsNullOrEmpty(ConnectionError))
            {
                <p class="help">
                    <span class="icon has-text-danger">
                        <i class="fas fa-circle-exclamation"></i>
                    </span>
                    <span class="has-text-danger">
                        @ConnectionError
                    </span>
                </p>
            }
        </div>
    </div>
</article>

@code {
    
    private CompositeDisposable _subs = new();
    
    public string Host { get; set; }
    public string Port { get; set; }
    public string Password { get; set; }
    public string ConnectionError { get; set; }

    public bool IsConnected => ObsClient.IsConnected;
    public bool IsConnecting { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        if (AppState.AppVariables.Has(OBSVars.Host))
        {
            Host = AppState.AppVariables.Get(OBSVars.Host);
            Port = AppState.AppVariables.Get(OBSVars.Port);

            if (AppState.AppVariables.Has(OBSVars.Password))
            {
                var password = AppState.AppVariables.Get(OBSVars.Password);
                Password = Encryptor.Decrypt(password);
            }
        }
    }

    public async Task ConnectToOBS()
    {
        if(IsConnecting){ return; }
        
        IsConnecting = true;
        InvokeAsync(StateHasChanged);
        
        var result = await ObsClient.AttemptConnect(Host, Port, Password);
        ConnectionError = result.message;

        if (result.success)
        {
            AppState.AppVariables.Delete(OBSVars.Password);
            AppState.AppVariables.Set(OBSVars.Host, Host);
            AppState.AppVariables.Set(OBSVars.Port, Port);
            if (!string.IsNullOrEmpty(Password))
            {
                var encryptedPassword = Encryptor.Encrypt(Password);
                AppState.AppVariables.Set(OBSVars.Password, encryptedPassword);
            }
        }
        
        IsConnecting = false;
        InvokeAsync(StateHasChanged);
    }

    public void DisconnectFromOBS()
    {
        AppState.AppVariables.Delete(OBSVars.Password);
        AppState.AppVariables.Delete(OBSVars.Host);
        AppState.AppVariables.Delete(OBSVars.Port);
        
        if (!ObsClient.IsConnected){return;}
        ObsClient.Disconnect();
    }
    
    public void Dispose()
    {
        _subs?.Dispose();  
    } 
}