@inherits Strem.Flows.Components.Triggers.CustomTriggerComponent<Strem.Flows.Default.Flows.Triggers.Utility.OnAppStartedTriggerData>

<div class="field">
    <label class="label">Nothing to configure here, enjoy!</label>
</div>

@code {
    public override string Title => $"On App Startup";
}