@inherits Strem.Flows.Components.Triggers.CustomTriggerComponent<Strem.Flows.Default.Flows.Triggers.Utility.OnEventRaisedTriggerData>

<div class="field">
    <label class="label">Interval Value</label>
    <div class="control">
        <TextInput placeholder="i.e user-redeemed-points" @bind-Value="Data.EventName" />
    </div>
</div>

@code {
    public override string Title => $"On Event <strong>{Data.EventName}</strong> Raised";
}