@using Strem.Core.Types

@inherits CustomTriggerComponent<Strem.Flows.Default.Flows.Triggers.Utility.OnIntervalTriggerData>

<div class="field">
    <label class="label">Interval Type</label>
    <div class="control">
        <div class="select">
            <select @bind="Data.IntervalUnitsType">
                <EnumSelectOptions EnumType="typeof(TimeUnitType)"></EnumSelectOptions>
            </select>
        </div>
    </div>
</div>
<div class="field">
    <label class="label">Interval Value</label>
    <div class="control">
        <input class="input" type="text" placeholder="i.e 5 or dynamic vars" @bind="Data.IntervalValue">
    </div>
</div>
<div class="field">
  <div class="control">
    <label class="checkbox">
      <input type="checkbox" @bind="Data.StartImmediately">
      Should It Trigger On Start Too?
    </label>
  </div>
</div>

@code {
    public override string Title => $"Trigger Every <strong>{Data.IntervalValue} {Data.IntervalUnitsType}</strong>";
}