@using Microsoft.AspNetCore.Components
@using TwitchLib.Client.Enums

@inherits CustomTriggerComponent<Strem.Twitch.Flows.Triggers.Chat.OnTwitchChatCommandTriggerData>

<div class="field">
    <label class="label">Channel</label>
    <div class="control">
        <ProcessedInput @bind-Value="Data.Channel" Placeholder="i.e optional channel name"></ProcessedInput>
    </div>
    <HelperInfo>This is an optional field and will default to your own channel, but you can listen to other channels if you have already joined them</HelperInfo>
</div>

<div class="field">
    <label class="label">Minimum Required User Type</label>
    <div class="control">
        <div class="select">
            <EnumSelectInput @bind-Value="Data.MinimumUserType"></EnumSelectInput>
        </div>
    </div>
    <HelperInfo>
        This allows you to restrict triggering to types of users equal to or above the level, i.e <strong>Viewer</strong> will match anyone but <strong>Moderator</strong> would match moderators, twitch staff/mods/admins and the broadcaster.
    </HelperInfo>
</div>

<div class="field">
    <label class="label">Command Name</label>
    <div class="control has-icons-left has-icons-right">
        <TextInput placeholder="i.e clip or play-meme" @bind-Value="Data.CommandName" />
        <span class="icon is-small is-left">
            <i class="fas fa-exclamation"></i>
        </span>
    </div>
    <HelperInfo>A command starts with an exclamation mark (we take care of that for you) and can also contain args on calling <i>i.e !play-meme wasted</i></HelperInfo>
</div>

<div class="field">
    <div class="control">
        <CheckBox @bind-Value="Data.RequiresArg" Label="Require Argument With Command?"></CheckBox>
    </div>
    <HelperInfo>This will only trigger if the command also contains an argument <i>i.e !clip</i> would fail but <i>!clip super funny clip name</i> would pass</HelperInfo>
</div>
<div class="field">
    <div class="control">
        <CheckBox @bind-Value="Data.IsSubscriber" Label="Require Sender To Be Subscriber?"></CheckBox>
    </div>
    <HelperInfo>This will only trigger if the sender is a subscriber</HelperInfo>
</div>

<div class="field">
    <div class="control">
        <CheckBox @bind-Value="Data.IsVip" Label="Require Sender To Be A VIP?"></CheckBox>
    </div>
    <HelperInfo>This will only trigger if the sender is a vip</HelperInfo>
</div>

<div class="field">
    <div class="control">
        <CheckBox @bind-Value="Data.HasBits" Label="Require Bits?"></CheckBox>
    </div>
    <HelperInfo>This will only trigger if the message contains bits</HelperInfo>
</div>

@code {
    public override string Title => GenerateTitle();
    
    public string GenerateTitle()
    {
        var userRequirements =  Data.MinimumUserType != UserType.Viewer ? $"For At Least <strong>{Data.MinimumUserType}</strong>" : "";
        return $"Trigger On Twitch Command <strong>!{Data.CommandName}</strong> {userRequirements}";
    }
}