@using Strem.Core.Types

@inherits CustomTaskComponent<Strem.Flows.Default.Flows.Tasks.Variables.GenerateRandomStringTaskData>

<div class="field">
    <label class="label">Variable Name</label>
    <div class="control">
        <GenericInput placeholder="i.e deaths" @bind-Value="Data.Name" />
    </div>
</div>
<div class="field">
    <label class="label">Optional Context</label>
    <div class="control">
        <ProcessedInput @bind-Value="Data.Context" Placeholder="i.e what the data pertains to, i.e user id, game name, platform"></ProcessedInput>
    </div>
    <HelperInfo>The context is optional and allows you to use the same variable name but tie it to some other context</HelperInfo>
</div>
<div class="field">
    <label class="label">Variable Scope</label>
    <div class="control">
        <EnumSelectInput @bind-Value="Data.ScopeType"></EnumSelectInput>
    </div>
    <HelperInfo>Persisted vars are saved and available even after app closes, Application vars are available until app closes, Flow vars are only available for the rest of the flow</HelperInfo>
</div>

<div class="field">
    <label class="label">String Length</label>
    <div class="control">
        <ProcessedInput @bind-Value="Data.StringLength" Placeholder="i.e 10"></ProcessedInput>
    </div>
</div>

@code {
    public override string Title => "Generate Random Number";
}