@using Strem.Core.Types

@inherits CustomTaskComponent<Strem.Flows.Default.Flows.Tasks.Variables.IncrementVariableTaskData>

<div class="field">
    <label class="label">Variable Name</label>
    <div class="control">
        <GenericInput placeholder="i.e deaths" @bind-Value="Data.Name" />
    </div>
</div>
<div class="field">
    <label class="label">Optional Context</label>
    <div class="control">
        <ProcessedInput @bind-Value="Data.Context" Placeholder="i.e what the data pertains to, i.e user id, game name, platform"/>
    </div>
    <HelperInfo>The context is optional and allows you to use the same variable name but tie it to some other context</HelperInfo>
</div>
<div class="field">
    <label class="label">Variable Scope</label>
    <div class="control">
        <EnumSelectInput @bind-Value="Data.ScopeType"></EnumSelectInput>
    </div>
    <HelperInfo>Persisted vars are saved and available even after app closes, Application vars are available until app closes, Flow vars are only available for the rest of the flow</HelperInfo>
</div>

<div class="field">
    <label class="label">Increment Amount</label>
    <div class="control">
        <GenericInput @bind-Value="Data.IncrementAmount" placeholder="i.e 1" />
    </div>
    <HelperInfo>This value is what the value will have added to it each time this task is run</HelperInfo>
</div>

@code {
    public override string Title => GenerateTitle();

    public string GenerateTitle()
    {
        var contextSection = string.IsNullOrEmpty(Data.Context) ? "" : $":{Data.Context}";
        return $"Increment Variable <strong>{Data.Name}{contextSection}</strong> By <strong>{Data.IncrementAmount}</strong>";
    }
}