@using Microsoft.AspNetCore.Components
@using Strem.Flows.Services.Stores

@inherits ValidatedComponent<Strem.Flows.Data.Flow>

<EditForm EditContext="EditContext" class="block">
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <TextInput Placeholder="i.e Play A Meme" @bind-Value="Data.Name"/>
        </div>
    </div>
    <div class="field">
        <label class="label">Category</label>
        <div class="control">
            <AutoComplete Placeholder="i.e Memes" @bind-Value="Data.Category" Data="ExistingCategories" />
        </div>
        <HelperInfo>Flow categories help you group flows with similar functionality or context for easier viewing</HelperInfo>
    </div>
    @if (!IsValid)
    {
        <ValidaitonMessageContainer Messages="EditContext.GetValidationMessages()"/>
    }
</EditForm>

@code {

    [Parameter]
    public string[] ExistingCategories { get; set; } = Array.Empty<string>();

}