@using Microsoft.AspNetCore.Components

@inherits CustomTriggerComponent<Strem.StreamElements.Flows.Triggers.OnStreamElementsRedemptionTriggerData>

<div class="field">
    <label class="label">Store Item Name</label>
    <div class="control">
        <ProcessedInput @bind-Value="Data.StoreItemName" Placeholder="i.e The name of the loyalty store item"></ProcessedInput>
    </div>
</div>

@code {
    public override string Title => GenerateTitle();
    
    public string GenerateTitle()
    {
        var storeItemName =  !string.IsNullOrEmpty(Data.StoreItemName) ? Data.StoreItemName : "";
        return $"Trigger On Redeeming <strong>{storeItemName}</strong>";
    }
}