@using Microsoft.AspNetCore.Components

@inherits CustomTriggerComponent<Strem.StreamElements.Flows.Triggers.OnStreamElementsTipTriggerData>

<div class="field">
    <label class="label">No Data Needed</label>
</div>

@code {
    public override string Title => "Trigger On Tip Received";
}