@using Strem.Core.Flows.Tasks
@using Strem.Core.Flows.Triggers
@using System.Reactive.Disposables
@using System.Reactive.Linq
@using Strem.Core.Extensions

@implements IDisposable

<EditForm EditContext="EditContext">
    <Accordion Title="@Title" HeaderClasses="is-success" ContainerClasses="@(!IsValid ? "has-validation-errors has-danger-pulse" : "")">
        <div draggable="true" ondragstart="event.preventDefault(); event.stopPropagation();">
            <DynamicComponent Type="ComponentType" Parameters="GetProps()"></DynamicComponent>
            @if (Trigger.VariableOutputs.Length > 0)
            {
                <Accordion Title="Output Variables" HeaderClasses="is-info">
                    <VariableDescriptorList VariableDescriptors="Trigger.VariableOutputs"/>
                </Accordion>
            }
            @if (!IsValid)
            {
                <ValidaitonMessageContainer Messages="EditContext.GetValidationMessages()"/>
            }
            <div class="field is-grouped is-grouped-right">
                <div class="control">
                    <button class="button is-danger" @onclick="() => OnRequestedDeletion.InvokeAsync(Data)">Delete Trigger</button>
                </div>
                <div class="control">
                    <button class="button is-info" @onclick="() => OnRequestedReset.InvokeAsync(Data)">Reset Trigger</button>
                </div>
            </div>
        </div>
    </Accordion>
</EditForm>
@code {
    [Parameter]
    public Type ComponentType { get; set; }
    
    [Parameter]
    public IFlowTriggerData Data { get; set; }
    
    [Parameter]
    public EventCallback DataChanged { get; set; }
    
    [Parameter]
    public IFlowTrigger Trigger { get; set; }
    
    [Parameter]
    public bool IsRunning { get; set; }
    
    [Parameter] 
    public EventCallback<IFlowTriggerData> OnRequestedDeletion { get; set; }
    
    [Parameter] 
    public EventCallback<IFlowTriggerData> OnRequestedReset { get; set; }
    
    [Parameter]
    public string Title { get; set; }
    
    public EditContext EditContext { get; private set; }
    public bool IsValid { get; private set; }
    public CompositeDisposable _subs = new();
    
    public Dictionary<string, object> GetProps() => new() {
        {"Data", Data },
        {"OnTitleChanged", EventCallback.Factory.Create<string>(this, OnTitleChanged)}
    };
    
    protected override async Task OnInitializedAsync()
    {
        EditContext = new EditContext(Data);
        EditContext.EnableDataAnnotationsValidation().AddTo(_subs);
        
        Observable.FromEventPattern<ValidationStateChangedEventArgs>(
            x => EditContext.OnValidationStateChanged += x,
            x => EditContext.OnValidationStateChanged -= x)
            .Subscribe(x => OnValidationStateChanged())
            .AddTo(_subs);

        Observable.FromEventPattern<FieldChangedEventArgs>(
            x => EditContext.OnFieldChanged += x,
            x => EditContext.OnFieldChanged -= x)
            .Subscribe(x => OnFieldChanged())
            .AddTo(_subs);
        
        IsValid = EditContext.Validate();
    }
    
    private void OnFieldChanged()
    { DataChanged.InvokeAsync(); }

    public void OnValidationStateChanged()
    {
        IsValid = !EditContext.GetValidationMessages().Any();
        InvokeAsync(StateHasChanged);
    }
    
    public void OnTitleChanged(string newTitle)
    {
        Title = newTitle;
    }
    
    public void Dispose()
    {
        _subs.Dispose();
    }
}