@page "/integrations"

@using Strem.Core.Flows.Registries.Integrations

@inject IIntegrationRegistry IntegrationRegistry;

<div class="container">
    <ErrorBoundary>
        <ChildContent>
        <h3 class="title is-3">Integrations</h3>
        @foreach (var integrationDescriptor in IntegrationRegistry.GetAll())
        {
            <IntegrationComponent Descriptor="integrationDescriptor"></IntegrationComponent>
        }
        </ChildContent>
        <ErrorContent>
            <TheSkyIsFalling/>
        </ErrorContent>
    </ErrorBoundary>
</div>

@code {
    
}