@page "/integrations"
@using Strem.Core.Services.Registries.Integrations

@inject IIntegrationRegistry IntegrationRegistry;

<div class="container is-fluid">
    <ErrorBoundary>
        <ChildContent>
            <div class="columns h-100 is-variable is-6">
                  <div class="column mh-100 is-one-quarter is-sticky-column">
                    <div>
                      <IntegrationSelector OnIntegrationSelected="SelectIntegration"></IntegrationSelector>
                    </div>
                  </div>
                <div class="column mh-100 integration-components">
                    @if (CurrentIntegration != null)
                    {
                        <IntegrationComponent Descriptor="CurrentIntegration"></IntegrationComponent>
                    }
                </div>
            </div>
        </ChildContent>
        <ErrorContent>
            <TheSkyIsFalling/>
        </ErrorContent>
    </ErrorBoundary>
</div>

@code {
    public IIntegrationDescriptor CurrentIntegration { get; set; }

    private void SelectIntegration(string integrationCode)
    {
        CurrentIntegration = IntegrationRegistry.Get(integrationCode);
    }

}