@page "/logs"

@using System.IO

<div class="container is-fluid">
    <ErrorBoundary>
        <ChildContent>
            <h3 class="title is-3">Logs & Information</h3>
            <Accordion Title="Latest App Logs" HeaderClasses="is-warning" IsExpanded="true">
                <LogViewer LogPath="@LatestLogFile"/>
            </Accordion>
            <Accordion Title="Flow Executions" HeaderClasses="is-warning" IsExpanded="true">
                <FlowExecutionViewer />
            </Accordion>
        </ChildContent>
        <ErrorContent>
            <TheSkyIsFalling />
        </ErrorContent>
    </ErrorBoundary>
</div>

@code {
    const string LogPath = "./logs";

    public string LatestLogFile { get; set; }

    protected override async Task OnInitializedAsync()
    {
        LatestLogFile = GetLatestLogFile();
    }

    public string GetLatestLogFile()
    {
        var file = new DirectoryInfo(LogPath)
            .GetFileSystemInfos()
            .MaxBy(o => o.LastWriteTime);

        return file?.FullName ?? string.Empty;
    }
}