@page "/logs"

@using System.IO
@using Strem.Core.Extensions
@using Strem.Core.Services.Browsers.File
@using Strem.Core.Services.Browsers.Web
@using Strem.Core.State
@using Strem.Core.Variables
@using Strem.Infrastructure.Services
@using Strem.UI.Components.Models

@inject IAppState AppState
@inject IWebBrowser WebBrowser

<div class="container is-fluid">
    <ErrorBoundary>
        <ChildContent>
            <h3 class="title is-3">Logs & Data</h3>
            <Accordion Title="User Variables" HeaderClasses="is-info" IsExpanded="true">
                <Accordion Title="Create Variable" IsExpanded="false" HeaderClasses="is-primary">
                    <AddVariableForm RequestCreate="OnRequestCreateUserVariable"/>
                </Accordion>
                <VariablesViewer Title="User Variables" Variables="@AppState.UserVariables" AllowDeletion="true" RequestDeletion="OnRequestUserVariableDeleted"/>
            </Accordion>
            
            <Accordion Title="Application Variables" HeaderClasses="is-warning" IsExpanded="false">
                <VariablesViewer Title="App Variables" Variables="@AppState.AppVariables" />
                <VariablesViewer Title="Transient Data" Variables="@AppState.TransientVariables" />
            </Accordion>
            
            <Accordion Title="Loaded Plugins" HeaderClasses="is-warning" IsExpanded="false">
                <PluginsViewer />
                <div class="field">
                    <div class="control">
                        <a class="button is-info" @onclick="() => WebBrowser.LoadUrl(StremPathHelper.PluginPath)">Open Plugin Folder</a>
                    </div>
                    <HelperInfo>The plugin directory is where you can add your own 3rd party plugins, found at [@StremPathHelper.PluginPath]</HelperInfo>
                </div>
            </Accordion>
            
            <Accordion Title="Latest App Logs" HeaderClasses="is-info" IsExpanded="true">
                <LogViewer LogPath="@LatestLogFile" />
                <div class="field">
                    <div class="control">
                        <a class="button is-info" @onclick="() => WebBrowser.LoadUrl(StremPathHelper.LogPath)">Open Logs Folder</a>
                    </div>
                    <HelperInfo>The log directory is where you can view all current and historic logs, found at [@StremPathHelper.LogPath]</HelperInfo>
                </div>
            </Accordion>
            <Accordion Title="Flow Executions" HeaderClasses="is-info" IsExpanded="true">
                <FlowExecutionViewer />
            </Accordion>
        </ChildContent>
        <ErrorContent>
            <TheSkyIsFalling />
        </ErrorContent>
    </ErrorBoundary>
</div>

@code {
    public string LatestLogFile { get; set; }

    protected override async Task OnInitializedAsync()
    {
        LatestLogFile = GetLatestLogFile();
    }

    public string GetLatestLogFile()
    {
        var file = new DirectoryInfo(StremPathHelper.LogPath)
            .GetFileSystemInfos()
            .MaxBy(o => o.LastWriteTime);

        return file?.FullName ?? string.Empty;
    }
    
    private void OnRequestUserVariableDeleted(VariableEntry entry)
    { AppState.UserVariables.Delete(entry); }

    private void OnRequestCreateUserVariable(AddVariableFormData data)
    { AppState.UserVariables.Set(data.Name, data.Context, data.Value); }
}