@page "/logs"
@using System.IO
@using Strem.Core.State

@inject IAppState AppState;

<div class="container is-fluid">
    <ErrorBoundary>
        <ChildContent>
            <h3 class="title is-3">Logs & Information</h3>
            <Accordion Title="Latest App Logs" HeaderClasses="is-warning" IsExpanded="true">
                <LogViewer LogPath="@LatestLogFile"/>
            </Accordion>

            <Accordion Title="Application Variables" HeaderClasses="is-warning" IsExpanded="true">
                <VariablesViewer Title="User Variables" Variables="@AppState.UserVariables" />
                <VariablesViewer Title="App Variables" Variables="@AppState.AppVariables" />
                <VariablesViewer Title="Transient Data" Variables="@AppState.TransientVariables" />
            </Accordion>

            <Accordion Title="Flow Executions" HeaderClasses="is-warning" IsExpanded="true">
                <FlowExecutionViewer/>
            </Accordion>
        </ChildContent>
        <ErrorContent>
            <TheSkyIsFalling />
        </ErrorContent>
    </ErrorBoundary>
</div>

@code {
    const string LogPath = "./logs";

    public string LatestLogFile { get; set; }

    protected override async Task OnInitializedAsync()
    {
        LatestLogFile = GetLatestLogFile();
    }

    public string GetLatestLogFile()
    {
        var file = new DirectoryInfo(LogPath)
            .GetFileSystemInfos()
            .MaxBy(o => o.LastWriteTime);

        return file?.FullName ?? string.Empty;
    }
}