@page "/test"
@using Strem.Core.Types

<div class="container is-fullwidth">
    <div class="box">
            <div class="field">
                <div class="control">
                    <TrueOrFalse @bind-Value="IsActive"/>
                </div>
            </div>
        
        
            <span class="tag">@IsActive</span>
    </div>

    <div class="box">
        <EnumWithValueInput @bind-EnumValue="UnitType" @bind-Value="ValueType" Placeholder="Something good here chief"/>
        <div class="notification is-info">
            <span>@UnitType</span>
            <span>@ValueType</span>
        </div>
    </div>
</div>


@code {
    
    public string Entry { get; set; } = "Woop";

    public string[] Data = new[] { "boom", "Woop", "pow" };
    
    public bool IsActive { get; set; }
    
    public TimeUnitType UnitType { get; set; }
    public string ValueType { get; set; }

}