@page "/Test"

<div class="field">
    <div class="control">
        <TrueOrFalse @bind-Value="IsActive" />
    </div>
</div>


<span class="tag">@IsActive</span>

@code {
    
    public string Entry { get; set; } = "Woop";

    public string[] Data = new[] { "boom", "Woop", "pow" };
    
    public bool IsActive { get; set; }

}