@using Microsoft.AspNetCore.Components
@using Strem.Portals.Services.Stores
@inherits Strem.Flows.Components.Triggers.CustomTriggerComponent<Strem.Portals.Flows.Triggers.OnPortalButtonPressedTriggerData>

@inject IPortalStore PortalStore

<div class="field">
    <label class="label">Required Portal</label>
    <div class="control">
        <DataSelectInput @bind-Value="Data.RequiredPortalId" Data="PortalStore.Data" GetName="x => x.Name" GetValue="x => x.Id" MapValue="x => Guid.Parse(x.ToString())" />
    </div>
    <HelperInfo>This lets you specify which portal should be used as the trigger</HelperInfo>
</div>
@if (Data.RequiredPortalId != Guid.Empty)
{
    var portal = PortalStore.Get(Data.RequiredPortalId);
    if (portal != null)
    {
        <div class="field">
            <label class="label">Portal Button</label>
            <div class="control">
                <DataSelectInput @bind-Value="Data.RequiredButtonId" Data="portal.Elements" GetName="x => x.Name" GetValue="x => x.Id" MapValue="x => Guid.Parse(x.ToString())" />
            </div>
            <HelperInfo>This lets you specify which button you want to listen for presses on</HelperInfo>
        </div>
    }
}

@code {
    public override string Title => GetTitle();

    public string GetTitle()
    {
        if(Data.RequiredPortalId == Guid.Empty && Data.RequiredButtonId == Guid.Empty)
        { return $"On Portal Button Pressed"; }

        var portal = PortalStore.Get(Data.RequiredPortalId);
        var button = portal?.Elements.SingleOrDefault(x => x.Id == Data.RequiredButtonId);
        if(button == null) { return "On Portal Button Pressed"; }

        return $"On {button.Name} Pressed In {portal.Name}";
    }
}