@using Microsoft.AspNetCore.Components

@inherits ObsSceneComponent<Strem.OBS.Flows.Tasks.ChangeSceneTaskData>

<div class="field">
    <label class="label">Scene Name</label>
    <div class="control">
        <AutoComplete @bind-Value="@Data.NewScene" Data="SceneNames" />
    </div>
</div>

@code {
    public override string Title => $"Change Scene To {Data.NewScene}";
}