@using Microsoft.AspNetCore.Components
@using Strem.OBS.Types

@inherits ObsSceneItemComponent<Strem.OBS.Flows.Tasks.SetSourceVisibilityTaskData>

<div class="field">
    <label class="label">Scene Name</label>
    <div class="control is-expanded">
        <AutoComplete @bind-Value="@Data.SceneName" Data="SceneNames" ValueChangedWithPrevious="x => RefreshSceneItems(x.New)"></AutoComplete>
    </div>
</div>
<div class="field">
    <label class="label">Source Name</label>
    <div class="control  is-expanded">
        <AutoComplete @bind-Value="@Data.SceneItemName" Data="SceneItems"></AutoComplete>
    </div>
</div>
<div class="field">
    <label class="label">Visibility</label>
    <div class="control">
        <EnumSelectInput @bind-Value="Data.Status"></EnumSelectInput>
    </div>
</div>


@code {
    public override string Title => GetTitle();
    
    public string GetTitle()
    {
        var starter = Data.Status == VisibilityStatus.Toggle ? 
            $"Toggle Visibility For {Data.SceneItemName}" : 
            $"Set {Data.SceneItemName} To {Enum.GetName(Data.Status)}";
        return $"<strong>{starter}</strong> In OBS";
    }
    
    protected override async Task OnInitializedAsync()
    {
        if (ObsClient.IsConnected)
        { RefreshSceneItems(Data.SceneName); }

        await base.OnInitializedAsync();
    }
}