@using Microsoft.AspNetCore.Components
@using Strem.OBS.Types

@inherits ObsInputComponent<Strem.OBS.Flows.Tasks.SetTextSourceTaskData>

<div class="field">
    <label class="label">Scene Name</label>
    <div class="control">
        <AutoComplete @bind-Value="@Data.SourceName" Data="InputNames" />
    </div>
</div>

<div class="field">
    <label class="label">Text</label>
    <div class="control">
        <ProcessedInput @bind-Value="@Data.Text" Placeholder="i.e V(viewer-count)" />
    </div>
</div>

@code {
    public override string Title => $"Set Text Source For {Data.SourceName}";
    
    protected override async Task OnInitializedAsync()
    {
        AllowedSourceKind = SourceKindType.TextSource;
        await base.OnInitializedAsync();
    }
}