@using Strem.Flows.Services.Stores
@inherits CustomTaskComponent<Strem.Flows.Default.Flows.Tasks.Flows.ExecuteFlowTaskData>

@inject IFlowStore FlowStore;

<div class="field">
    <label class="label">Flow</label>
    <div class="control">
        <DataSelectInput @bind-Value="Data.FlowId" Data="FlowStore.Data" GetName="x => x.Name" GetValue="x => x.Id" MapValue="x => Guid.Parse(x.ToString())"></DataSelectInput>
    </div>
</div>
<div class="field">
    <div class="control">
        <CheckBox @bind-Value="Data.WaitForCompletion" Label="Wait For Flow To Finish?"></CheckBox>
    </div>
</div>

@code {
    public override string Title => GetTitle();

    public string GetTitle()
    {
        var targetedFlow = FlowStore.Get(Data.FlowId);
        return $"Execute <strong>{targetedFlow?.Name ?? ""}</strong> Flow";
    }
}