<div class="accordion @(IsExpanded ? "is-expanded": "is-collapsed")">
    <a class="button @(StyleType) has-text-left" @onclick="() => IsExpanded = !IsExpanded">
        <span>@((MarkupString)Title)</span>
        <span class="tag is-rounded is-pulled-right">
            <i class="fas @(IsExpanded ? "fa-caret-up" : "fa-caret-down")"></i>
        </span>
    </a>
    <div class="box">
        @ChildContent 
    </div>
</div>

@code {
    public bool IsExpanded { get; set; }
    
    [Parameter]
    public string StyleType { get; set; } = "is-success";
    
    [Parameter] 
    public RenderFragment ChildContent  { get; set; }
    
    [Parameter]
    public string Title { get; set; }
}