@inherits ValidatedInputBase<bool>

<label class="checkbox">
    <input type="checkbox" value="@Value" @onchange="e => OnValueChanged((bool)e.Value)">
    <span>@Label</span>
</label>

@code {
    [Parameter]
    public string Label { get; set; }
}