@typeparam T

@inherits ValidatedInputBase<T>

<div class="select @(IsValid != null ? IsValid.Value ? "valid" : "invalid" : "")">
    <select value="@Value" @onchange="e => OnValueChanged((T)Enum.Parse(typeof(T), e.Value.ToString()))" @attributes=@UnmatchedAttributes>
        <EnumSelectOptions EnumType="typeof(T)"></EnumSelectOptions>
    </select>
</div>