@using Microsoft.AspNetCore.Components
@using Strem.Core.Extensions
@using Strem.Core.Services.Browsers.File

@inherits ValidatedInputBase<string>

@inject IFileBrowser FileBrowser

<div class="file-browser field has-addons @(IsValid != null ? IsValid.Value ? "valid" : "invalid" : "")">
    <div class="control is-expanded">
        <TextInput @bind-Value="ProxyValue" @attributes=@UnmatchedAttributes.Only("disabled", "placeholder") />
    </div>
    <div class="control">
        <button class="button is-link" @onclick="BrowseForFile" @attributes=@UnmatchedAttributes.Only("disabled")>
            <span class="icon is-small">
                <i class="fas fa-folder-open"></i>
            </span>
            <span>Browse</span>
        </button>
    </div>
</div>

@code 
{
    [Parameter]
    public string FileFilter { get; set; }
    
    public string ProxyValue
    {
        get => Value;
        set => OnValueChanged(value);
    }
    
    public void BrowseForFile()
    {
        var path = FileBrowser.BrowseToOpenFile(filterList: FileFilter);
        if (!string.IsNullOrEmpty(path))
        { ProxyValue = path; }
    }
}