@inject IJSRuntime JS

@inherits ValidatedInputBase<string>

<div class="field has-addons">
    <div class="control">
        <input class="input is-icon-picker" type="text" value="@Value" @onchange="e => OnValueChanged(e.Value.ToString())" @attributes=@UnmatchedAttributes/>
    </div>
    <div class="control">
        <a class="button is-static">
            <span class="icon">
                <i class="@(Value) has-text-black-ter"></i>
            </span>
        </a>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Task.Run(async () =>
        {
            await Task.Delay(100);
            JS.InvokeVoidAsync("processButtonPicker");
        });
    }
}