@using Microsoft.AspNetCore.Components

@inherits ValidatedComponent<Strem.Core.Flows.Flow>

<EditForm EditContext="EditContext" class="block">
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <TextInput Placeholder="i.e Play A Meme" @bind-Value="Data.Name"/>
        </div>
    </div>
    <div class="field">
        <label class="label">Category</label>
        <div class="control">
            <TextInput Placeholder="i.e Memes" @bind-Value="Data.Category" />
        </div>
        <HelperInfo>Flow categories help you group flows with similar functionality or context for easier viewing</HelperInfo>
    </div>
    @if (!IsValid)
    {
        <ValidaitonMessageContainer Messages="EditContext.GetValidationMessages()"/>
    }
</EditForm>