@using Strem.Core.Types

<div class="box">
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Chat Permissions</label>
                <div class="control">
                    <EnumSelectInput Value="@ChatAccess" ValueChanged="(ScopeAccess v) => { ChatAccess = v; RequestScopeChange(); }"/>
                </div>
                <HelperInfo>Chat permissions cover being able to read/write chat messages</HelperInfo>
            </div>
        </div>
    </div>
</div>

@code {

    public ScopeAccess ChatAccess { get; set; }
    
    [Parameter]
    public string[] ExistingScopes { get; set; } = Array.Empty<string>();
    
    [Parameter]
    public EventCallback<string[]> OnScopesChanged { get; set; }

    public bool HasScopesFor(string[] requiredScopes)
    {
        return requiredScopes.All(x => ExistingScopes.Contains(x));
    }
    
    protected override async Task OnInitializedAsync()
    {
        if (HasScopesFor(ScopeCollections.ManageChatScopes)){ ChatAccess = ScopeAccess.Full; }
        else if(HasScopesFor(ScopeCollections.ReadChatScopes)) { ChatAccess = ScopeAccess.ReadOnly; }
        else { ChatAccess = ScopeAccess.None; }
    }

    public void RequestScopeChange()
    {
        var newScopes = new List<string>();
        switch (ChatAccess)
        {
            case ScopeAccess.Full:
                newScopes.AddRange(ScopeCollections.ReadChatScopes);
                newScopes.AddRange(ScopeCollections.ManageChatScopes);
                break;
            case ScopeAccess.ReadOnly:
                newScopes.AddRange(ScopeCollections.ReadChatScopes);
                break;
        }
        OnScopesChanged.InvokeAsync(newScopes.ToArray());
    }
}