@using Microsoft.AspNetCore.Components
@using TwitchLib.Client.Enums

@inherits CustomTaskComponent<Strem.Twitch.Flows.Tasks.Stream.PlayTwitchCommercialTaskData>

<div class="field">
    <label class="label">Channel To Play Ads For</label>
    <div class="control">
        <input class="input" type="text" @bind="Data.Channel" placeholder="i.e Leave blank for your own channel">
    </div>
    <HelperInfo>
        You can leave it blank for your own stream, or put another channel name in for another channel
    </HelperInfo>
</div>

<div class="field">
    <label class="label">Ad Length</label>
    <div class="control">
        <div class="select">
            <select @bind="Data.CommercialLength">
                <EnumSelectOptions EnumType="typeof(CommercialLength)"></EnumSelectOptions>
            </select>
        </div>
    </div>
    <HelperInfo>
        This is how long you want the ad to play for on the stream.
    </HelperInfo>
</div>

@code {
    public override string Title => $"Play Twitch Ads For {Data.CommercialLength.ToString().Replace("Seconds", "")} Seconds";
}