<!DOCTYPE html>

<html>
    <head>
      <title>Twitter Is Chirping</title>
      <link href="/_content/Strem/css/bulma.css" rel="stylesheet" />
      <link href="/_content/Strem/css/all.css" rel="stylesheet" />
    </head>
    <body>
      <section class="hero is-dark is-fullheight">
        <div class="hero-body">
          <div class="container has-text-centered">
            <section class="block">
              <p class="title">
                <span class="icon-text">
                  <span class="icon is-large">
                    <i class="fab fa-twitter"></i>
                  </span>
                </span>
                Twitter Is A Go Go!
              </p>
              <p class="subtitle">You can now close this page</p>
            </section>
          </div>
        </div>
      </section>
    </body>
</html>