@using Microsoft.AspNetCore.Components
@using Strem.Core.State
@using Strem.OBS.v4.Extensions
@using Strem.OBS.v4.Services.Client

@inherits Strem.Core.Components.Triggers.CustomTriggerComponent<v4.Flows.Triggers.OnStreamingStateChangedTriggerData>

<div class="field">
    <div class="control">
        <label class="checkbox">
            <input type="checkbox" @bind="Data.TriggerOnStarted">
            Trigger When Streaming?
        </label>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="checkbox">
            <input type="checkbox" @bind="Data.TriggerOnStopped">
            Trigger When Stopped Streaming?
        </label>
    </div>
</div>

<div class="field">
    <div class="control">
        <label class="checkbox">
            <input type="checkbox" @bind="Data.TriggerOnStart">
            Trigger On Start?
        </label>
    </div>
    <HelperInfo>By default these triggers wait to be told when streaming state changes, but with this you can trigger it with the current state when it starts</HelperInfo>
</div>

@code {
    public override string Title => $"On Streaming State Changed";
}