@using Strem.Portals.Components.Client
@{
    ViewData["Title"] = "Portal Viewer";
    Layout = "_Layout";
 }
<div >
    @(await Html.RenderComponentAsync<PortalViewer>(RenderMode.Server, new { PortalId = Model.PortalId }))
</div> 