@using Microsoft.AspNetCore.Components

@inherits CustomTaskComponent<Strem.Twitch.Flows.Tasks.Chat.SendTwitchChatMessageTaskData>

<div class="field">
    <label class="label">Message</label>
    <div class="control">
        <TextAreaInput @bind-Value="Data.Message" Placeholder="i.e Hello there dear viewers im live!"></TextAreaInput>
    </div>
    <HelperInfo>
        You can use dynamic vars within the message such as V(variable, optional.context) to replace data within the message
    </HelperInfo>
</div>
<div class="field">
    <label class="label">Channel To Send To</label>
    <div class="control">
        <ProcessedInput @bind-Value="Data.Channel" Placeholder="Leave blank to send to your own"></ProcessedInput>
    </div>
    <HelperInfo>By default messages are sent to your own channel, but you can provide a different channel if needed</HelperInfo>
</div>


@code {
    public override string Title => GenerateTitle();
    
    public string GenerateTitle()
    {
        var destinationChannel =  string.IsNullOrEmpty(Data.Channel) ? "My Channel" :  Data.Channel;
        return $"Send Twitch Message To {destinationChannel}";
    }
}