@using Microsoft.AspNetCore.Components

@inherits CustomTaskComponent<Strem.Twitch.Flows.Tasks.Chat.SendTwitchWhisperMessageTaskData>

<div class="field">
    <label class="label">Message</label>
    <div class="control">
        <ProcessedInput @bind-Value="Data.Message" Placeholder="i.e Hello there dear viewers im live!"></ProcessedInput>
    </div>
    <HelperInfo>
        You can use dynamic vars within the message such as V(variable, optional.context) to replace data within the message
    </HelperInfo>
</div>
<div class="field">
    <label class="label">User To Send To</label>
    <div class="control">
        <ProcessedInput @bind-Value="Data.Username" Placeholder="i.e MyBestFriendOnTwitch"></ProcessedInput>
    </div>
    <HelperInfo StyleType="has-text-warning" IconType="fa-triangle-exclamation">Remember that this may annoy other users, so make sure you use this responsibly</HelperInfo>
</div>


@code {
    public override string Title => $"Send Twitch Whisper To {Data.Username}";
}