@using Microsoft.AspNetCore.Components

@inherits CustomTaskComponent<Strem.Twitch.Flows.Tasks.Chat.SetTwitchSlowModeChatTaskData>

<div class="field">
    <label class="label">Channel</label>
    <div class="control">
        <ProcessedInput @bind-Value="Data.Channel" Placeholder="Leave blank to send to your own"></ProcessedInput>
    </div>
    <HelperInfo>By default messages are sent to your own channel, but you can provide a different channel if needed</HelperInfo>
</div>

<div class="field">
    <label class="label">Enable/Disable Emote Only Chat</label>
    <div class="control">
        <TrueOrFalse @bind-Value="Data.SetSlowMode"></TrueOrFalse>
    </div>
</div>

@if (Data.SetSlowMode)
{
    <div class="field">
        <label class="label">Slow Mode Timeout</label>
        <div class="control">
            <EnumWithValueInput @bind-EnumValue="Data.TimeoutUnit" @bind-Value="Data.TimeoutValue" Placeholder="i.e 5 or dynamic vars" />
        </div>
        <HelperInfo>This is how long between messages people need to wait before they can send their next message</HelperInfo>
    </div>
}

@code {
    public override string Title => GenerateTitle();
    
    public string GenerateTitle()
    {
        var destinationChannel =  string.IsNullOrEmpty(Data.Channel) ? "My Channel" :  Data.Channel;
        return $"{(Data.SetSlowMode ? "Enable": "Disable")} Slow Mode Chat For {destinationChannel}";
    }
}