@using Microsoft.AspNetCore.Components

@inherits CustomTaskComponent<Strem.Twitch.Flows.Tasks.Chat.SetTwitchSubscriberOnlyChatTaskData>

<div class="field">
    <label class="label">Channel</label>
    <div class="control">
        <ProcessedInput @bind-Value="Data.Channel" Placeholder="Leave blank to send to your own"></ProcessedInput>
    </div>
    <HelperInfo>By default messages are sent to your own channel, but you can provide a different channel if needed</HelperInfo>
</div>

<div class="field">
    <label class="label">Enable/Disable Subscriber Only Chat</label>
    <div class="control">
        <TrueOrFalse @bind-Value="Data.SetSubscriberOnlyChat"></TrueOrFalse>
    </div>
    <HelperInfo>Once enabled only subscribers to your channel can post messages</HelperInfo>
</div>

@code
{
    public override string Title => GenerateTitle();
    
    public string GenerateTitle()
    {
        var destinationChannel =  string.IsNullOrEmpty(Data.Channel) ? "My Channel" :  Data.Channel;
        return $"{(Data.SetSubscriberOnlyChat ? "Enable": "Disable")} Subscriber Only Chat For {destinationChannel}";
    }
}